#nav-bar {
position: fixed;
color:#e8fdff;
background-color:#00a087;
height:80px;
width:100%;
padding-right:2em;
padding-left:2em;
z-index: 1;
}

#nav-bar .logo {
  margin:10px 0px;
  height:60px;
  width:50px;
}

#nav-bar .header {
  font-size: 2em;
  position: relative;
  top: -10px;
}

#composeTweet {
  opacity: 1;
  border: 1px solid black;
  color:#00a087;
  border-radius: 10px;
  padding: auto;
  font-weight: bold;
  float:right;
  margin-top: 20px;
  margin-bottom: 20px;
}

#composeTweet:hover {
  opacity: 0.5;
}