.new-tweet {
  display:none;
  border: .5px solid black;
  border-radius: 10px;
  padding: 0px 10px 30px 10px;
  margin:auto;
  margin-top:34px;
  width:70%;
  background-color: #eee;
}

.error{
  margin-top: 1em;
  display:none;
}

#specific-message {
  display:inline;
  color:red;

}

h2 {
  text-align: left;
  border-bottom: 1px solid black;
}

h6 {
  float:left;
}

textarea {
  padding: 5px;
  width: 100%;
}

.counter {
float:right;
}

button, input{
  float:left;
}

.tweet:hover .icons{
  visibility: visible;
}

.tweet .icons {
  visibility: hidden;
  float:right;
}


